<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../resources/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>BULLER - Nosotros</title>
  </head>
  
  <body>
    <header class="fixed-top border-bottom">
        <div class="container-fluid">
            <div class="row justify-content-between px-2 px-lg-4">
                <div class="col-6 col-md-4 col-lg-4 d-flex align-items-center py-3 py-lg-4 me-lg-6">
                    <img src="../resources/img/logo_buller.png" class="img-fluid logo" alt="logo buller">
                </div>

                <div class="col-12 col-md-4 col-lg-5 py-3 py-md-4 py-lg-4 pe-md-4 pe-lg-4 border-end border-sm-0 hidden-xs">
                    <nav class="nav nav-masthead justify-content-between justify-content-lg-end justify-content-md-end">
                        <div class="d-flex menu">
                            <a class="nav-link active ps-0 ps-lg-3 pe-5 me-3" aria-current="page" href="#">Cervezas</a>
                            <a class="nav-link" href="#">Carta online</a>
                        </div>
                    </nav>
                </div>

                <!-- Icons navbar-->
                <div class="col-6 col-md-4 col-lg-auto py-3 py-lg-4 ps-0">
                    <nav class="nav nav-masthead justify-content-end nav-icons">
                        <a class="nav-link active hidden-xs" aria-current="page" href="#">
                            <img src="../resources/img/icons/shopping-cart.png" class="img-fluid" alt="icono carrito" width="27">
                        </a>
                        <a class="nav-link" href="#">
                            <img src="../resources/img/icons/whatsapp.png" class="img-fluid" alt="icono whatsapp" width="25">
                        </a>
                        <a class="nav-link active" aria-current="page" href="#">
                            <img src="../resources/img/icons/instagram.png" class="img-fluid" alt="icono instagram" width="25">
                        </a>
                        <a class="nav-link pe-0" href="#">
                            <img src="../resources/img/icons/facebook.png" class="img-fluid facebook-icon pe-0" alt="icono facebook" width="13">
                        </a>
                    </nav>
                </div>
            </div>

            <!-- Menú mobile -->
            <div class="row justify-content-between px-2 px-lg-4 border-top d-none visible-xs">
                <div class="col-12 col-md-4 col-lg-5 py-1 py-md-4 py-lg-4 pe-md-4">
                    <nav class="nav nav-masthead d-flex justify-content-between">
                        <div class="d-flex menu">
                            <a class="nav-link active ps-0 ps-lg-3" aria-current="page" href="#">Cervezas</a>
                            <a class="nav-link" href="#">Carta online</a>
                        </div>
                        
                        <a class="nav-link pe-0" aria-current="page" href="#">
                            <img src="../resources/img/icons/shopping-cart.png" class="img-fluid" alt="icono carrito" width="27">
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../resources/img/slide_nosotros_desktop.jpg" class="hidden-xs" width="100%" height="100%" alt="Imagen cerveza buller" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img src="../resources/img/slide_nosotros_mobile.jpg" class="d-none visible-xs" width="100%" height="100%" alt="Imagen cerveza buller" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container hidden-xs">
            <div class="carousel-caption text-start bg-white start-0 bottom-0">
                <h1 class="text-black mb-0 pb-1 fw-bold">
                    Pioneros y uno de los<br>
                    fundadores en la
                    elaboración<br>
                    artesanal de cerveza<br>
                    en Argentina
                </h1>
                <a class="nav-link px-0 view-more" aria-current="page" href="#">Ver más</a>
            </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="../resources/img/slide_nosotros_desktop.jpg" class="hidden-xs" width="100%" height="100%" alt="Imagen cerveza buller" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img src="../resources/img/slide_nosotros_mobile.jpg" class="d-none visible-xs" width="100%" height="100%" alt="Imagen cerveza buller" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
        <div class="carousel-item">
            <img src="../resources/img/slide_nosotros_desktop.jpg" class="hidden-xs" width="100%" height="100%" alt="Imagen cerveza buller" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img src="../resources/img/slide_nosotros_mobile.jpg" class="d-none visible-xs" width="100%" height="100%" alt="Imagen cerveza buller" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>

        </div>

      <div class="d-none visible-xs">  
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>

    <div class="container d-none visible-xs p-0">
        <div class="carousel-caption text-start bg-white start-0 bottom-0 position-relative">
            <h1 class="text-black mb-0 pb-1 fw-bold px-2 pt-3">
                Pioneros y uno de los<br>
                fundadores en la
                elaboración<br>
                artesanal de cerveza<br>
                en Argentina
            </h1>
            <a class="nav-link px-0 view-more px-2" aria-current="page" href="#">Ver más</a>
        </div>
    </div>

<div class="container-fluid p-0 submenu hidden-xs">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="container px-5">
            <div class="row text-withe">
                <div class="col-lg-3 d-flex align-items-center">
                    <a href="#1" class="nav-link py-4 w-100 text-center">  
                        Bienvenida
                    </a>
                </div>
        
                <div class="col-lg-3 d-flex align-items-center">
                    <a href="#1" class="nav-link active py-4 w-100 text-center">  
                        Sobre nosotros
                    </a>
                </div>
                <div class="col-lg-3 d-flex align-items-center">
                    <a href="#1" class="nav-link py-4 w-100 text-center">  
                        Franquicias
                    </a>
                </div>
                <div class="col-lg-3 d-flex align-items-center">
                    <a href="#1" class="nav-link py-4 w-100 text-center">  
                        Experiencia BULLER
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Main -->

<div class="container-fluid text-white m-auto px-4 py-5 my-lg-5">
    <div class="row align-items-end">
        <div class="col-12 col-lg-6 px-2 px-lg-4">

                <p class="title">
                    BULLER reúne el esfuerzo y conocimiento de tres generaciones dedicadas a la elaboración artesanal de cerveza.
                </p>

                <div id="myCarousel" class="carousel slide d-none visible-xs" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../resources/img/pastilla-1-mobile.jpg" width="100%" height="100%" alt="Imagen barman" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        </div>
                
                        <div class="carousel-item">
                            <img src="../resources/img/pastilla-2.jpg" width="100%" height="100%" alt="Imagen dispenser cerveza" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/pastilla-3.jpg" width="100%" height="100%" alt="Imagen vaso de cerveza" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        </div>
            
                    </div>
                </div>

                <p class="pt-5 pt-lg-0">
                    Elaboramos cerveza bajo las más antiguas tradiciones pero con la tecnología y el gusto actual. 
                </p>

                <p>
                    Desarrollamos todas nuestras variedades respetando los tiempos, procesos y temperamento propio de cada variedad para lograr el sabor único que hoy es nuestro sello diferencial.
                </p>

                
                <img src="../resources/img/pastilla-1.jpg" class="img-fluid mt-5 hidden-xs" alt="imagen de un barman">

        </div>
        <div class="col-12 col-lg-6 px-lg-4 px-2 pt-5 mt-3  hidden-xs">
            <div class="col-12 mb-5">
                <img src="../resources/img/pastilla-2.jpg" class="img-fluid" alt="imagen de dispenser de cerveza">
            </div>
            
            <div class="col-12">
                <img src="../resources/img/pastilla-3.jpg" class="img-fluid" alt="imagen de un vaso de cerveza">
            </div>

        </div>
    </div>
</div>

<!-- / Main -->
    <!-- FOOTER -->
    <footer class="container-fluid py-4 px-5 text-white text-center">
        <p class="m-0">© 1999 - 2021 Todos los derechos reservados <span>| BEBER CON MODERACIÓN |</span> Prohibida la venta a menores de 18 años.</p>
    </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
